:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Libre-baskerville", serif;
  font-weight: 400;
}


.nav {
  background-color: #283618;
  color: #fefae0;
  display: flex;
  padding: 10px;
  font-family: "Libre-baskerville", serif;
  font-weight: 400;
  font-size: 1.25vw;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.nav ul {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  list-style-type: none;
} 

.nav li:hover {
  cursor: pointer;
}

.link {
  color: #fefae0;
  text-decoration: none;
}

a.link {
  width: 10%;
}

.nav img {
  width: 100%;
}

.nav img:hover {
  cursor: pointer;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
  overflow: hidden;
  height: 600px;
  object-fit:cover;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.hero-text {
  color: #fefae0;
  position: absolute;
  bottom: 5%;
  left: 5%;
  padding: 20px;
  max-width: 200px;
  font-size: 6vw;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.321);
  font-family: "Libre-baskerville", serif;
  font-weight: 400;
  line-height: 80%;

}

@media (max-width: 768px) {
  .hero-text {
    max-width: 100px;
  }
}

.textSection {
  background-color: #FFFAE0;
  text-align: center;
  padding: 50px;
}

.textSection-photographer {
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  font-size: 2vw;
  color: #CC794E;
  line-height: 10%;
  margin-top: 50px;
}

.textSection-NL {
  font-weight: 400;
  font-size: 4vw;
  margin-bottom: 50px;
}

.featuredContainer {
  display: flex;
  justify-content: center;
}
.featured {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 70px;
  max-width: 65%;
}

.featured img {
  border-radius: 10%;
  width: 300px;
  height: 500px;
  object-fit: cover;
}

.aboutContainer {
  background-color: #606c38d1;
  padding: 50px;
}

.aboutTitle {
  margin-left: 20%;
  display: inline-block;
  font-family: "La Belle Aurore";
}

.aboutBody {
  display: flex;
  align-items: flex-start;
  width: 25%;
  text-align: left;
  margin-left: 20%;
}

.aboutIMG {
  float: right;
  margin-right: 20%;
  margin-top: 30px;
  width: 200px;
  border-radius: 100px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-right: auto;
  width: 500px;
  padding: 50px;
}

.contactForm p {
  font-size: 2vw;
}

.contactForm label {
  display: block;
  margin-top: 5px;
}

.contactForm input, .contactForm select {
  margin: 5px;
  margin-top: 5px;
  width: 200px;
}

.contactForm textarea {
  width: 300px;
  height: 200px;
  margin-top: 5px;
  resize: none;
  overflow: scroll;
}

.contactForm button {
padding: 10px;
width: 100px;
border-radius: 20px;
border: none;
background-color: #CC794E;
color:#fefae0;
}
footer {
  background-color:#283618;
  color: #fefae0;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.galleryContainer {
  margin: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 20px;
}

.gallery li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-btn {
  margin: 10px;
  width: 70px;
  padding: 5px;
  border-radius: 10px;
  border: 1px;
}
.delete-btn:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #CC794E;
  color: #FFFAE0;
}

.manageImages {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manageForm {
  margin: 20px;
}

.inputImageName, inputImageURL {
  margin-top: 10px;
}

.manageForm input {
  margin-left: 5px;
  width: 200px;
}

.submitImage {
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
}

.submitImage:hover {
  cursor: pointer;
}