:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #283618;
  color: #fefae0;
  text-align: center;
  padding: 5px 0;

}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li:hover {
  cursor: pointer;
}

nav li {
  margin-left: 5%;
  margin-right: 5%;
}

nav ul li a {
  color: #fefae0;
  text-decoration: none;
}

nav img {
  width: 5%;
  height: auto;
}

nav img:hover {
  cursor: pointer;
}


.hero img {
  width: 100%;
  height: auto;
}

.text-section {
  text-align: center;
  padding: 20px;
}

.image-section {
  text-align: center;
  padding: 20px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer {
  background-color:#283618;
  color: #fefae0;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}