:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #283618;
  color: #fefae0;
  text-align: center;
  padding: 5px 0;

}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li:hover {
  cursor: pointer;
}

nav li {
  margin-left: 5%;
  margin-right: 5%;
}

nav ul li a {
  color: #fefae0;
  text-decoration: none;
}

nav img {
  width: 5%;
  height: auto;
}

nav img:hover {
  cursor: pointer;
}


hero img {
  width: 100%;
  height: auto;
  position: relative;
}

.hero-text {
  color: #fefae0;
  position: absolute;
  bottom: 80px;
  left: 50px;
  padding: 20px;
  max-width: 200px;
  font-size: 7vw;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.321);
}

Section div{
  text-align: center;
  padding: 500px;
  margin-top: 100px;
}

.image-section {
  text-align: center;
  padding: 20px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer {
  background-color:#283618;
  color: #fefae0;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}